*{
    padding: 0;
    margin: 0;
}

.navbar{
    width: auto;
    height: 60px;
    background-color: #E9CB4F;
}

.logo{
    color: white;
    padding-top: 17px;
    padding-left: 50px;
}


.menu{
    width: 400px;
    float: left;
    height: 70px;
}

ul{
    float: left;
    display: flex;
    position: absolute;
    left: 1100px;
    top: 20px;

}

ul li{
    list-style: none;
    margin-left: 5px;
}

ul li a{
    text-decoration: none;
    padding-left: 30px;
    color: black;
    transition: 0.5s ease;
}

ul li a:hover{
    color: white;
}

.img{
    width: 323px;
    height: 411px;
    position: absolute;
    top: 150px;
    left: 155px;
    box-shadow: 7px 5px 30px rgba(0, 0, 0, 0.3);
    border-radius: 7px;
    transition: 0.5s ease;
    
}

.img:hover{
    scale: 1.1;
}

.right{
    float: right;
    padding-right: 100px;
}


.title{
    font-size: 52px;
    text-align: center;
    padding-right: 100px;
    padding-top: 100px;
    font-family: 'Times New Roman', Times, serif;

}

.num{
    display: flex;
    margin-top: 70px;
}

.nums {
    margin-right: 10px;
    font-size: 32px;
    background-color: rgba(250, 214, 86, 0.6);
    width: 98px;
    height: 73px;
    display: flex; /* Use flexbox to align vertically */
    justify-content: center; /* Centers content horizontally */
    align-items: center; /* Centers content vertically */
    border-radius: 11px;
    color: white;
    box-shadow: 0px 0px 15px rgba(250, 214, 86, 0.9);
    text-shadow: 0px 0px 15px rgba(171, 147, 61, 0.5);
  }
  
span{
    font-size: 32px;
    padding-right: 10px;
    padding-top: 15px;
    font-weight: bold;
}

.time{
    display: flex;   
   
}

.time div{
    margin-left: 5px;
    margin-right: 35px;
    border-bottom: solid 3px #FAEDCD;
    margin-top: 10px;
    font-weight: 700;
    width: 90px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

button{
    margin-top: 80px;
    margin-left: 150px;
    font-size: 15px;
    font-weight: bold;
    padding: 5px 50px;
    background-color: white;
    border:solid 1px #E9CB4F;
    border-radius: 11px;
    cursor: pointer;
    transition: 0.3s ease-out;
   
}

button:hover{
    background-color: #E9CB4F;
    color: white;
}